<table class="table table-condensed table-striped">
	<tr>
		<th>Text</th>
		<th>Daniel (Demand)</th>
		<th>Stefan (Demand)</th>
		<th>Dima (Demand)</th>
		<th>Daniel (Product)</th>
		<th>Stefan (Product)</th>
		<th>Dima (Product)</th>
	</tr>
	<% for (index in posts){ 
		post = posts[index];
		post.demand_votes = post.demand_votes || {};
		post.category_votes = post.category_votes || {}
		var style = "";
		if(_.uniq(_.map(post.demand_votes,function(value,key){return value})).length>1 || 
			_.uniq(_.map(post.category_votes,function(value,key){return value})).length>1){
			style = "class='danger'";
		}

	%>
		<tr <%= style %> >
			<td><%= post.title+'\n'+post.text %></td>
			<td><%= post.demand_votes.daniel %></td>
			<td><%= post.demand_votes.stefan %></td>
			<td><%= post.demand_votes.dima %></td>
			<td><%= post.category_votes.daniel %></td>
			<td><%= post.category_votes.stefan %></td>
			<td><%= post.category_votes.dima %></td>
		</tr>
	<% } %>
</table>
