# data files
data
*.csv
tagger_name.conf
n2o_data

# use glob syntax.
*.class
*.bak
*.pyc
#*.off

# eclipse conf file
.settings
.classpath
.project
.manager
.scala_dependencies

# idea
.idea
*.iml

# building
node_modules
target
dist
build.log
libs
