- attributes("title") = "N20"

.container
  .jumbotron
    h1 Noise-To-Opportunity
    h2 Upload a blog post, and let us recommend products!
    form
      textarea.form-control(rows=12 placeholder="Enter blog post ..")
    p
      a.btn.btn-primary.btn-lg(href="#" role="button")
        | Learn more
