- attributes("title") = "N20"

.page-header
.container
  .jumbotron
    h1 Noise-To-Opportunity
    h2 Upload a blog post, and let us recommend products!
    form
      textarea#blog-post.form-control(rows=6 placeholder="Enter blog post ..")
    -#
      p
        a.btn.btn-primary.btn-lg(href="#" role="button")
          | Learn more

  .row
    div#demand-classification.classification-box.col-xs-offset-1.col-xs-4
      | DEMAND
    div#product-classification.classification-box.col-xs-offset-2.col-xs-4
      | CRM

  hr

  .row
    div.col-xs-offset-1.col-xs-4
      a(data-toggle="collapse" href="#detailed-demand-view" aria-expanded="false" aria-controls="collapseExample")
        | See detailed demand numbers
      div#detailed-demand-view.collapse
        .well
          table#demand-results.table.table-striped.large
    div.col-xs-offset-2.col-xs-4
      a(data-toggle="collapse" href="#detailed-product-view" aria-expanded="false" aria-controls="collapseExample")
        | See detailed product numbers
        div#detailed-product-view.collapse
          .well
            table#product-results.table.table-striped.large

