-@ val title: String
-@ val headline: String = title
-@ val body: String

!!!
html
  head
    title
      = title
    / Latest compiled and minified CSS
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css")
    / Optional theme
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.1/yeti/bootstrap.min.css")
    / Our own stylesheet
    link(rel="stylesheet" href="style/main.css")
    / jQuery
    script(src="https://code.jquery.com/jquery-1.11.2.min.js")
    / Latest compiled and minified JavaScript
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js")
    script(src="script/main.js")
  body
    != body
