-@ val title: String
-@ val headline: String = title
-@ val body: String

!!!
html
  head
    title
      = title
    / Latest compiled and minified CSS
    link(rel="stylesheet" href="vendor/bootstrap.min.css")
    / Optional theme
    link(rel="stylesheet" href="vendor/bootstrap.min.yeti.css")
    / Our own stylesheet
    link(rel="stylesheet" href="style/main.css")
    / jQuery
    script(src="vendor/jquery-1.11.2.min.js")
    / jQuery Color
    script(src="vendor/jquery.color-2.1.2.min.js")
    / Latest compiled and minified JavaScript
    script(src="vendor/bootstrap.min.js")
    script(src="script/main.js")
  body
    != body
