<!DOCTYPE html>
<html>
<head>
	<title>SMM</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<script data-main="static/js/application" src="static/require.js"></script>
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/app.css" rel="stylesheet">
</head>
<body>
	<div class="navigation-view"></div>
	<div class="content"></div>
</body>
</html>
