{
	"posts": [
		{% for post in posts %}
		{
			"id":"{{ post.id }}",
			"title": "{{ post.title.decode('utf-8') }}",
			"text": "{{ post.text.decode('utf-8') }}"
			{% if post.prediction %}
			, "prediction": {
				"category": "{{ post.prediction.category }}",
				"confidence": {{ post.prediction.confidence }}
			}
			{% endif %}
			{% if post.demand_votes %}
            , "demand_votes": {{ json.dumps(post.demand_votes) }}
            {% endif %}
            {% if post.category_votes %}
            , "category_votes": {{ json.dumps(post.category_votes) }}
            {% endif %}
		}
			{% if not loop.last %}
			,
			{% endif %}
		{% endfor %}
	]
}
