textarea#blog-post {
	/*width: 80%;*/
	margin: 30px auto;
	font-size: 1.5em;
}

table#results {
	font-size: 1.6em;
}

div.result-percentage {
	color: white;
	height: 100%;
	width: 100%;
	text-align: center;
}

div.classification-box {
	height: 48px;
	line-height: 48px;
	text-align: center;
	color: white;
	font-size: 1.2em;
	font-weight: bold;
	border: 2px solid black;
}

.product-category-label {
	width: 100px;

}
