<div class="demand-classification-view">
	<div class="container">
		<div class="page-header">
			<h1>Does this post describe a demand?</h1>
			<h1><small><%= post.title %></small></h1>
			<% if (post.prediction) { %>
				<h2><small>Current category: <%= post.prediction.category %>, Current confidence: <%= post.prediction.confidence %></small></h2>
			<% } %>
			<% if (post.demand_votes && post.category_votes && route!="tagged_by_others_posts") { %>
			<table class="table table-condensed table-striped">
				<tr>
					<th>Daniel (Demand)</th>
					<th>Stefan (Demand)</th>
					<th>Dima (Demand)</th>
					<th>Daniel (Product)</th>
					<th>Stefan (Product)</th>
					<th>Dima (Product)</th>
				</tr>
				<tr>
					<td><%= post.demand_votes.daniel %></td>
					<td><%= post.demand_votes.stefan %></td>
					<td><%= post.demand_votes.dima %></td>
					<td><%= post.category_votes.daniel %></td>
					<td><%= post.category_votes.stefan %></td>
					<td><%= post.category_votes.dima %></td>
				</tr>
			</table>
			<% } %>
		</div>
		<p id="post-text"><%= post.text %></p>
		<% if (post.id !== -1) { %>
			<div class="decission-panel">
				<div class="demand-decision">
					<button data-demand="demand"    id="btn-has-demand"    type="button" class="btn-tag btn-demand btn btn-success btn-lg">Yes (y)</button>
					<button data-demand="no-demand" id="btn-has-no-demand" type="button" class="btn-tag btn-demand btn btn-danger btn-lg">No (n)</button>
					<button data-demand="not-idea"   id="btn-has-no-idea"   type="button" class="btn-tag btn-demand btn btn-info btn-lg">Not Englisch (i)</button>
					<button id="btn-has-no-idea"   type="button" class="btn btn-next btn btn-info btn-lg">Next</button>
				</div>
				<div style="display: None;" class="category-decision">
					<button data-category="LVM" id="btn-category-1" type="button" class="btn-tag btn-category btn btn-primary btn-lg">LVM (1)</button>
					<button data-category="CRM" id="btn-category-2" type="button" class="btn-tag btn-category btn btn-primary btn-lg">CRM (2)</button>
					<button data-category="HCM" id="btn-category-3" type="button" class="btn-tag btn-category btn btn-primary btn-lg">HCM (3)</button>
					<button data-category="ECOM" id="btn-category-4" type="button" class="btn-tag btn-category btn btn-primary btn-lg">ECOM (4)</button>
					<button data-category="None" id="btn-category-5" type="button" class="btn-tag btn-category btn btn-primary btn-lg">None (5)</button>
					<button id="btn-has-no-idea"   type="button" class="btn btn-next btn btn-info btn-lg">Next</button>
				</div>
			</div>
		<% } %>
	</div>
</div>
