<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<ul class="nav navbar-nav navbar-left">
			<li><a href="#uncertain_posts">Classify Uncertain Posts</a></li>
			<li><a href="#tagged_by_others_posts">Classify Tagged Posts</a></li>
			<li><a href="#conflicted_posts">Classify Conflicted Posts</a></li>
			<li><a href="#certain_posts">Classify Certain Posts</a></li>
			<li><a href="#demand">Posts Overview</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#tagger">Tagger: <span id="tagger-name"><%= tagger %></span></a></li>
		</ul>
	</div>
</nav>
