<table class="table table-condensed table-striped">
	<tr>
		<th>Key</th>
		<th>Value</th>
	</tr>
		<td>Number of Tagged Posts</td>
		<td><%= statistics.numberOfTaggedPosts %></td>
	</tr>
	</tr>
		<td>Percentage of Demand (Tagged)</td>
		<td><%= statistics.percentageOfTaggedDemand %></td>
	</tr>
	</tr>
		<td>Percentage of No-Demand (Tagged)</td>
		<td><%= statistics.percentageOfTaggedNoDemand %></td>
	</tr>
	</tr>
		<td>Percentage of LVM (Tagged)</td>
		<td><%= statistics.percentageOfTaggedLVM %></td>
	</tr>
	</tr>
		<td>Percentage of CRM (Tagged)</td>
		<td><%= statistics.percentageOfTaggedCRM %></td>
	</tr>
	</tr>
		<td>Percentage of HCM (Tagged)</td>
		<td><%= statistics.percentageOfTaggedHCM %></td>
	</tr>
	</tr>
		<td>Percentage of ECOM (Tagged)</td>
		<td><%= statistics.percentageOfTaggedECOM %></td>
	</tr>
	</tr>
		<td>Percentage of None (Tagged)</td>
		<td><%= statistics.percentageOfTaggedNone %></td>
	</tr>			
</table>
