.demand-classification-view .decission-panel{
	position: fixed;
	bottom: 15px;
}

.demand-classification-view #post-text{
	margin-bottom: 80px;
}
.content{
	margin-top: 60px;
}

.navbar #tagger{
	left:0px;
}

.tagger-name-view{
	max-width:400px;
}
